In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
jun = pd.read_csv(r'D:\projectanPacmann\data vaksin jkt\juni.csv')
jul = pd.read_csv(r'D:\projectanPacmann\data vaksin jkt\juli.csv')
agu = pd.read_csv(r'D:\projectanPacmann\data vaksin jkt\agustus.csv')
sep = pd.read_csv(r'D:\projectanPacmann\data vaksin jkt\september.csv')
okt = pd.read_csv(r'D:\projectanPacmann\data vaksin jkt\oktober.csv')

In [3]:
jun.head()

,tanggal,kode_kelurahan,wilayah_kota,kecamatan,kelurahan,penerima_vaksinasi,dosis,jumlah_vaksin
0,2021-06-20,3171071002,JAKARTA PUSAT,TANAH ABANG,BENDUNGAN HILIR,LANSIA,Dosis 1,1554
1,2021-06-20,3171041006,JAKARTA PUSAT,SENEN,BUNGUR,LANSIA,Dosis 1,1249
2,2021-06-20,3171031006,JAKARTA PUSAT,KEMAYORAN,CEMPAKA BARU,LANSIA,Dosis 1,1533
3,2021-06-20,3171051002,JAKARTA PUSAT,CEMPAKA PUTIH,CEMPAKA PUTIH BARAT,LANSIA,Dosis 1,1947
4,2021-06-20,3171051001,JAKARTA PUSAT,CEMPAKA PUTIH,CEMPAKA PUTIH TIMUR,LANSIA,Dosis 1,1877

In [4]:
all_data = pd.concat([jun, jul, agu, sep, okt])
all_data.sample(8)

,tanggal,kode_kelurahan,wilayah_kota,kecamatan,kelurahan,penerima_vaksinasi,dosis,jumlah_vaksin,kode kelurahan,wilayah kota,penerima_vaksin
12572,2021-09-20,NaN,NaN,GAMBIR,CIDENG,LANSIA,Dosis 2,1648,3.171011e+09,JAKARTA PUSAT,NaN
4919,2021-10-19,NaN,NaN,MATRAMAN,KEBON MANGGIS,LANSIA,Dosis 1,1380,3.175011e+09,JAKARTA TIMUR,NaN
6183,2021-08-12,NaN,NaN,JATINEGARA,CIPINANG MUARA,NaN,Dosis 2,2741,3.175031e+09,JAKARTA TIMUR,LANSIA
3358,2021-08-07,NaN,NaN,CILINCING,MARUNDA,NaN,Dosis 1,1157,3.172041e+09,JAKARTA UTARA,LANSIA
14124,2021-07-04,3.175101e+09,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,LANSIA,Dosis 2,2753,NaN,NaN,NaN
9612,2021-08-19,NaN,NaN,PADEMANGAN,ANCOL,NaN,Dosis 1,1284,3.172051e+09,JAKARTA UTARA,LANSIA
889,2021-07-22,3.171011e+09,JAKARTA PUSAT,GAMBIR,GAMBIR,LANSIA,Dosis 1,182,NaN,NaN,NaN
12525,2021-07-10,3.174031e+09,JAKARTA SELATAN,MAMPANG PRAPATAN,BANGKA,LANSIA,Dosis 2,973,NaN,NaN,NaN

In [5]:
all_data.isna().sum()

tanggal                   0
kode_kelurahan        47526
wilayah_kota          47526
kecamatan                 0
kelurahan                 0
penerima_vaksinasi    15486
dosis                     0
jumlah_vaksin             0
kode kelurahan        21894
wilayah kota          21894
penerima_vaksin       53934
dtype: int64

In [6]:
all_data.shape[0]

69420

In [7]:
c_data = all_data.drop(columns=['kode_kelurahan','wilayah_kota','penerima_vaksin','kode_kelurahan','dosis','wilayah kota'])

In [8]:
c_data.sample(10)

,tanggal,kecamatan,kelurahan,penerima_vaksinasi,jumlah_vaksin,kode kelurahan
1463,2021-08-03,SENEN,KENARI,NaN,701,3.171041e+09
568,2021-06-21,KEMAYORAN,SERDANG,LANSIA,1272,NaN
3536,2021-06-30,PANCORAN,CIKOKO,LANSIA,696,NaN
1381,2021-09-06,DUREN SAWIT,DUREN SAWIT,LANSIA,4131,3.175071e+09
1015,2021-10-04,KOJA,RAWA BADAK UTARA,LANSIA,1736,3.172031e+09
1568,2021-06-28,PADEMANGAN,PADEMANGAN BARAT,LANSIA,3146,NaN
7274,2021-07-23,PASAR REBO,KALISARI,LANSIA,2174,NaN
4795,2021-06-27,PULO GADUNG,JATINEGARA KAUM,LANSIA,1189,NaN
15596,2021-07-28,JATINEGARA,CIPINANG BESAR SELATAN,LANSIA,1050,NaN
6579,2021-10-25,SENEN,PASEBAN,LANSIA,1792,3.171041e+09

In [9]:
c_data = c_data.dropna(axis=0)

In [10]:
c_data.isna().sum()

tanggal               0
kecamatan             0
kelurahan             0
penerima_vaksinasi    0
jumlah_vaksin         0
kode kelurahan        0
dtype: int64

In [11]:
c_data.head()

,tanggal,kecamatan,kelurahan,penerima_vaksinasi,jumlah_vaksin,kode kelurahan
0,2021-09-01,PADEMANGAN,ANCOL,LANSIA,1301,3.172051e+09
1,2021-09-01,TAMBORA,ANGKE,LANSIA,2107,3.173041e+09
2,2021-09-01,KRAMAT JATI,BALE KAMBANG,LANSIA,1047,3.175041e+09
3,2021-09-01,JATINEGARA,BALI MESTER,LANSIA,914,3.175031e+09
4,2021-09-01,CIPAYUNG,BAMBU APUS,LANSIA,1440,3.175101e+09

In [12]:
c_data.dtypes

tanggal                object
kecamatan              object
kelurahan              object
penerima_vaksinasi     object
jumlah_vaksin           int64
kode kelurahan        float64
dtype: object

In [13]:
c_data.jumlah_vaksin.max()

7305

In [14]:
# Mencari indeks baris dengan nilai maksimum di kolom 'jumlah_vaksin'
max_index = c_data['jumlah_vaksin'].idxmax()

# Mengakses nilai kecamatan yang sesuai
max_kelurahan = c_data.loc[max_index, 'kelurahan']

print("Kelurahan dengan jumlah vaksin maksimum:", max_kelurahan)

Kelurahan dengan jumlah vaksin maksimum: 7137    PLUIT
7137    PLUIT
Name: kelurahan, dtype: object

In [15]:
c_data.tanggal.sample(10)

13791    2021-09-24
1872     2021-09-08
11773    2021-09-17
2236     2021-09-09
2810     2021-10-11
13049    2021-10-18
1801     2021-09-07
14742    2021-10-25
10568    2021-10-09
9064     2021-09-05
Name: tanggal, dtype: object

In [16]:
# Konversi kolom 'tanggal' ke format datetime
c_data['tanggal'] = pd.to_datetime(c_data['tanggal'])

In [17]:
c_data.tanggal

0       2021-09-01
1       2021-09-01
2       2021-09-01
3       2021-09-01
4       2021-09-01
           ...
16549   2021-10-31
16550   2021-10-31
16551   2021-10-31
16552   2021-10-31
16553   2021-10-31
Name: tanggal, Length: 32040, dtype: datetime64[ns]

In [18]:
# Ambil bulan dan hari dari kolom 'tanggal'
c_data['bulan'] =c_data['tanggal'].dt.month
c_data['hari'] = c_data['tanggal'].dt.day

# Hasilnya adalah DataFrame dengan kolom 'bulan' dan 'hari'
c_data.sample(4)

,tanggal,kecamatan,kelurahan,penerima_vaksinasi,jumlah_vaksin,kode kelurahan,bulan,hari
16194,2021-10-30,KELAPA GADING,PEGANGSAAN DUA,LANSIA,5132,3.172061e+09,10,30
15911,2021-10-29,TEBET,MENTENG DALAM,LANSIA,2002,3.174011e+09,10,29
13688,2021-09-24,PULO GADUNG,JATI,LANSIA,2692,3.175021e+09,9,24
8060,2021-10-31,GAMBIR,DURI PULO,LANSIA,1521,3.171011e+09,10,31

In [19]:
final_data = c_data.drop(columns='kode kelurahan')

# Final data

In [20]:
final_data

,tanggal,kecamatan,kelurahan,penerima_vaksinasi,jumlah_vaksin,bulan,hari
0,2021-09-01,PADEMANGAN,ANCOL,LANSIA,1301,9,1
1,2021-09-01,TAMBORA,ANGKE,LANSIA,2107,9,1
2,2021-09-01,KRAMAT JATI,BALE KAMBANG,LANSIA,1047,9,1
3,2021-09-01,JATINEGARA,BALI MESTER,LANSIA,914,9,1
4,2021-09-01,CIPAYUNG,BAMBU APUS,LANSIA,1440,9,1
...,...,...,...,...,...,...,...
16549,2021-10-31,MATRAMAN,UTAN KAYU SELATAN,LANSIA,2433,10,31
16550,2021-10-31,MATRAMAN,UTAN KAYU UTARA,LANSIA,1665,10,31
16551,2021-10-31,KEMAYORAN,UTAN PANJANG,LANSIA,1441,10,31
16552,2021-10-31,TANJUNG PRIOK,WARAKAS,LANSIA,2187,10,31
16553,2021-10-31,GROGOL PETAMBURAN,WIJAYA KUSUMA,LANSIA,2871,10,31

In [21]:
print(final_data)

         tanggal          kecamatan          kelurahan penerima_vaksinasi  \
0     2021-09-01         PADEMANGAN              ANCOL             LANSIA
1     2021-09-01            TAMBORA              ANGKE             LANSIA
2     2021-09-01        KRAMAT JATI       BALE KAMBANG             LANSIA
3     2021-09-01         JATINEGARA        BALI MESTER             LANSIA
4     2021-09-01           CIPAYUNG         BAMBU APUS             LANSIA
...          ...                ...                ...                ...
16549 2021-10-31           MATRAMAN  UTAN KAYU SELATAN             LANSIA
16550 2021-10-31           MATRAMAN    UTAN KAYU UTARA             LANSIA
16551 2021-10-31          KEMAYORAN       UTAN PANJANG             LANSIA
16552 2021-10-31      TANJUNG PRIOK            WARAKAS             LANSIA
16553 2021-10-31  GROGOL PETAMBURAN      WIJAYA KUSUMA             LANSIA

       jumlah_vaksin  bulan  hari
0               1301      9     1
1               2107      9     1
2               1047      9     1
3                914      9     1
4               1440      9     1
...              ...    ...   ...
16549           2433     10    31
16550           1665     10    31
16551           1441     10    31
16552           2187     10    31
16553           2871     10    31

[32040 rows x 7 columns]

In [22]:
final_data.kecamatan.unique()

array(['PADEMANGAN', 'TAMBORA', 'KRAMAT JATI', 'JATINEGARA', 'CIPAYUNG',
       'MAMPANG PRAPATAN', 'PASAR REBO', 'TANAH ABANG', 'PESANGGRAHAN',
       'TEBET', 'SENEN', 'CAKUNG', 'KEMAYORAN', 'CEMPAKA PUTIH',
       'CENGKARENG', 'CIRACAS', 'GAMBIR', 'JAGAKARSA', 'MENTENG',
       'PANCORAN', 'CILANDAK', 'PASAR MINGGU', 'CILINCING',
       'KEBAYORAN BARU', 'PULO GADUNG', 'MAKASAR', 'KEBAYORAN LAMA',
       'DUREN SAWIT', 'KEBON JERUK', 'JOHAR BARU', 'TAMAN SARI',
       'GROGOL PETAMBURAN', 'SETIA BUDI', 'SAWAH BESAR', 'PALMERAH',
       'KEMBANGAN', 'KALI DERES', 'PENJARINGAN', 'MATRAMAN',
       'TANJUNG PRIOK', 'KELAPA GADING', 'KOJA', 'KEP. SERIBU UTARA',
       'KEP. SERIBU SELATAN'], dtype=object)

# Maybe ini fix

In [23]:
tebet = final_data[final_data['kecamatan']=='TEBET']

In [24]:
tebet

,tanggal,kecamatan,kelurahan,penerima_vaksinasi,jumlah_vaksin,bulan,hari
11,2021-09-01,TEBET,BUKIT DURI,LANSIA,1968,9,1
107,2021-09-01,TEBET,KEBON BARU,LANSIA,2401,9,1
151,2021-09-01,TEBET,MANGGARAI,LANSIA,1776,9,1
152,2021-09-01,TEBET,MANGGARAI SELATAN,LANSIA,1499,9,1
158,2021-09-01,TEBET,MENTENG DALAM,LANSIA,1951,9,1
...,...,...,...,...,...,...,...
16438,2021-10-31,TEBET,MANGGARAI,LANSIA,1768,10,31
16439,2021-10-31,TEBET,MANGGARAI SELATAN,LANSIA,1529,10,31
16445,2021-10-31,TEBET,MENTENG DALAM,LANSIA,2015,10,31
16540,2021-10-31,TEBET,TEBET BARAT,LANSIA,2009,10,31
16541,2021-10-31,TEBET,TEBET TIMUR,LANSIA,1794,10,31

In [25]:
tebet.bulan.value_counts()

bulan
10    434
9     406
Name: count, dtype: int64

## Filter data `tebet` hanya bulan oktober

In [34]:
# Filter data untuk bulan Oktober
tebet_oktober = tebet[tebet['bulan'] == 10]
tebet_oktober.head()

,tanggal,kecamatan,kelurahan,penerima_vaksinasi,jumlah_vaksin,bulan,hari
11,2021-10-01,TEBET,BUKIT DURI,LANSIA,2280,10,1
107,2021-10-01,TEBET,KEBON BARU,LANSIA,2622,10,1
151,2021-10-01,TEBET,MANGGARAI,LANSIA,1966,10,1
152,2021-10-01,TEBET,MANGGARAI SELATAN,LANSIA,1657,10,1
158,2021-10-01,TEBET,MENTENG DALAM,LANSIA,2201,10,1

In [33]:
tebet_oktober.info()

<class 'pandas.core.frame.DataFrame'>
Index: 434 entries, 11 to 16541
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tanggal             434 non-null    datetime64[ns]
 1   kecamatan           434 non-null    object
 2   kelurahan           434 non-null    object
 3   penerima_vaksinasi  434 non-null    object
 4   jumlah_vaksin       434 non-null    int64
 5   bulan               434 non-null    int32
 6   hari                434 non-null    int32
dtypes: datetime64[ns](1), int32(2), int64(1), object(3)
memory usage: 23.7+ KB

### Simple Random Sampling

In [28]:
# Ukuran sampel yang ingin diambil (misalnya, 100 elemen)
ukuran_sampel = 200

# Simple Random Sampling (SRS) dari data Oktober
sampel = tebet_oktober.sample(n=ukuran_sampel, random_state=42)

In [29]:
rata_rata_sampel = sampel['jumlah_vaksin'].mean()
print(f"Rata-rata sampel jumlah penerima vaksin pada bulan Oktober: {rata_rata_sampel:.2f}")

Rata-rata sampel jumlah penerima vaksin pada bulan Oktober: 2025.80

In [30]:
variance_estimator = sampel['jumlah_vaksin'].var()
print(f"Estimasi variance dari sampel: {variance_estimator:.2f}")

Estimasi variance dari sampel: 96045.03

In [31]:
tingkat_kepercayaan = 0.95
z_score = stats.norm.ppf((1 + tingkat_kepercayaan) / 2)
margin_of_error = z_score * np.sqrt(variance_estimator / ukuran_sampel)
print(f"Margin of Error: {margin_of_error:.2f}")D

Margin of Error: 42.95

In [32]:
confidence_interval = (rata_rata_sampel - margin_of_error, rata_rata_sampel + margin_of_error)
print(f"Confidence Interval dengan tingkat kepercayaan {tingkat_kepercayaan}: ({confidence_interval[0]:.2f}, {confidence_interval[1]:.2f})")

Confidence Interval dengan tingkat kepercayaan 0.95: (1982.85, 2068.75)